* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* auto-fit - позволяет сделать верстку резиновой */
/* похож на flex-wrap  */
/* обеспечивает переход элементов на новую строчку */
/* когда их минимальное значение достигнуто */
/* grid-template-columns: 100px 10% 6em 1fr 1fr; */

/* screen = это кран (телефон, планшет, ноутбук, компьютер) */
/* max-width = мой экран не больше! 800px */
/* min-width от / max-width до */
/* and ключевое слово, которое позволяет писать более одного условия */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
  padding: 0 20%;
}

.grid-item {
  padding: 30px;
  background: rgb(233, 155, 155);
  font-size: 30px;
}
/* в каких условиях работает наша верстка */

/* paddign 10% */
@media screen and (min-width: 600px) and (max-width: 800px) {
  /* внутри запроса я обращаюсь к селеторам */
  .grid-item {
    font-size: 24px;
    background: rgb(155, 233, 228);
  }
  .grid-container {
    gap: 15px;
    padding: 0 10%;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  /* внутри запроса я обращаюсь к селеторам */
  .grid-item {
    font-size: 20px;
    background: rgb(155, 233, 228);
  }
  .grid-container {
    gap: 2px;
    padding: 0 5%;
  }
}
/* gap 2px */
/* paddign 5% */

/* breakpoint */
/* 2400 / 1920 / 1440 / 1220 / 980 / 768 / 400 */
/* увеличить шрифт 400px до 600px 24px */
/* увел ичить шрифт меньше 400px  20px */
